@model EstoqueLoja.WEB.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUse" class="control-label"></label>
                <input asp-for="IdUse" class="form-control" />
                <span asp-validation-for="IdUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeUse" class="control-label"></label>
                <input asp-for="NomeUse" class="form-control" />
                <span asp-validation-for="NomeUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailUse" class="control-label"></label>
                <input asp-for="EmailUse" class="form-control" />
                <span asp-validation-for="EmailUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordUse" class="control-label"></label>
                <input asp-for="PasswordUse" class="form-control" />
                <span asp-validation-for="PasswordUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleUse" class="control-label"></label>
                <input asp-for="RoleUse" class="form-control" />
                <span asp-validation-for="RoleUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

