@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    </br>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-decoration-none text-dark">Essa é uma página que eu fiz para um processo seletivo, não é muito, mas está bem feita, eventualmente eu volto para aprimora-la, agradeço a compreensão</a><p>
</div>
